@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
  opacity: 0;
}

.active {
  @apply dark:text-white !important;
}

*::-webkit-scrollbar {
  width: 8px;
  /* height: 56px; */
}
*::-webkit-scrollbar-track {
  @apply dark:bg-slate-800;
  width: 10px;
  z-index: 100000;
}

*::-webkit-scrollbar-thumb {
  @apply dark:bg-slate-500;
  border-radius: 30px;
  border: 1px solid transparent;
  z-index: 100000;
}
